%h1 CombzHackPostalcode
="現在#{Pref.count}都道府県、"
="#{number_to_currency(City.count)}市区町村、"
="#{number_to_currency(Postal.count)}件の郵便番号を解析しています。"

%table{style: 'overflow: scroll;'}
  %tr
    - Pref.all.each do |pref|
      %td{style: 'vertical-align: top'}
        %h2="#{pref.name} (#{pref.cities.count}市区町村)"
        - pref.cities.each do |city|
          %h3=city.name
          - if false
            %ul
              - city.postals.each do |postal|
                %li="#{postal.code}: #{postal.lot}"
